body {
  color: #fff;
  font-size: 14px;
  font-family: 'Quicksand';
  background: #02003a;
  overflow-x: hidden;
}

a,
a:hover,
a:link,
a:active,
a:focus {
  text-decoration: none;
}

button {
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.container-cus,
[class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}


/* font */

.none-padding {
  padding-left: 0px;
  padding-right: 0px;
}


/* padding */

.padd-left-15 {
  padding: 0px 0px 0px 15px !important
}

.padd-right-15 {
  padding: 0px 15px 0px 0px !important
}

.padd-top-15 {
  padding-top: 15px;
}


/*end padding */


/* margin */

.mar-left-15 {
  margin-left: 15px;
}

.mar-top-15 {
  margin-top: 15px;
}

.mar-top-10 {
  margin-top: 10px;
}


/* end margin */


/* color */

.color-red {
  color: red;
}


/* end color */


/* btn */

.btn-red {
  background: red;
}


/* end color */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background:  linear-gradient(to bottom right, #FF452F,#FF452F,#F86D24,#F28C1C, #F09819,#F09819);*/
}

.container-cus {
  width: 90%!important;
}

.container-max {
  width: 85%!important;
}

.container-min {
  width: 1060px!important
}

.container-organizers {
  width: 911px;
  /*margin-top: 400px;*/
  padding-bottom: 80px;
}

.jumbotron img {
  width: 65%;
  margin: auto;
  display: block;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background: none;
  color: #fff;
  padding: 0px 25px;
  margin-top: 47px;
  margin-bottom: 0px;
  position: relative;
  z-index: 9;
}

.container-fluid {
  padding: 60px 0px 0px 0px;
}

.navbar {
  border: 0px;
  background-color: #f4f4f4;
  z-index: 9999;
  padding: 10px 0px;
  /* border-bottom: 1px solid #dddd; */
}

.navbar-nav {
  padding: 8px 0px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #000000 !important;
  font-family: 'Quicksand';
  font-size: 22px;
}

.navbar-header img {
  height: 70px;
  padding-right: 20px;
}

.navbar-brand {
  padding: 0px 15px;
  height: 80px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.bg_head img {
  width: 100%;
}

.bg_head {
  position: absolute;
  margin: 0px;
  width: 100%;
}

#about {
  margin-bottom: 300px
}

#program {
  margin-bottom: 190px;
}

.about-us h4 {
  font-family: 'Quicksand';
  font-size: 23px;
  color: #fff;
}

.about-us {
  float: right;
  margin-top: 60px
}

.about-us .col-sm-3 {
  width: 250px;
}

.about-us .col-sm-9 {
  width: calc(100% - 350px);
  padding-left: 100px;
  max-width: 824px;
  text-align: justify;
}

.about-us .col-sm-3 p {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  top: 100px;
}

.about-bottom a {
  width: 250px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  color: #333;
  font-size: 33px;
}

.about-bottom {
  text-align: center;
  margin-top: 60px;
}

.timeline {
  position: relative;
  margin-top: 240px
}

.timeline-wrapper {
  position: relative;
}

.timeline-wrapper::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #157FDE;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  /* padding: 15px 50px; */
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: -10px;
  border: 4px solid #fff;
  background: #157FDE;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container-left {
  left: 0;
  text-align: right;
  padding-right: 50px;
}

.timeline-container-left:first-child {
  padding-top: 0;
}

.timeline-container-left:last-child {
  padding-bottom: 0;
}


.timeline-container-right {
  left: 50%;
  text-align: left;
  padding-left: 50px;
}

.timeline-container-right::after {
  left: -14px;
}

.timeline-content {
  position: relative;
}

.timeline-content p {
  margin-bottom: 10px !important;
}

#timeline {
  padding-top: 100px;
  margin-bottom: 100px;
}

.timeline span {
  font-size: 23px;
}

.timeline .span-bold {
  padding-right: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
}

.timeline .col-sm-8 p {
  margin-bottom: 40px;
}

.timeline .col-sm-4 {
  position: absolute;
  right: 0px;
  /* bottom:  0px; */
}

.timeline .col-sm-4 img {
  display: none;
}

.timeline .col-sm-4 p {
  /* margin-top: 25px; */
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}

.container-time {
  width: 840px!important;
  margin-top: 100px;
}

.date-time .col-sm-3 {
  padding: 0px 30px;
}

.date-time .col-sm-3 p {
  background: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 73px;
  padding: 20px 0px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #000;
}

#pricing {
  padding: 30px 0px;
}

.date-time .col-sm-3 h4,
.date-time h3 {
  font-size: 27px;
  color: #fff;
}

.date-time h3 {
  margin: 30px 0px;
  font-family: 'Open Sans';
  font-weight: 700;
}

.datetime-bottom {
  padding: 50px 0px
}

.datetime-bottom div p,
.datetime-bottom div h4,
.datetime-bottom div span {
  font-size: 23px;
  color: #fff;
}

.btn-bottom {
  margin-top: 50px
}

.btn-bottom .span-bottom {
  background: #fff;
  padding: 10px 30px;
  font-size: 47px;
  color: #000;
  font-family: 'Quicksand';
  font-weight: 700;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 10px;
  min-width: 491px;
}

.datetime-bottom div p {
  font-size: 28px;
  font-family: 'Quicksand';
  font-weight: 700;
}

.download-img img {
  height: 50px;
}

.datetime-bottom div {
  padding-left: 60px;
}

.datetime-bottom div:first-child {
  padding-left: 0px;
}

.organizers {
  text-align: center;
  margin-top: 30px;
}

.organizers div {
  text-align: center;
}

.organizers h3 {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  margin-bottom: 70px;
  margin-top: 0px;
}

.contact .col-sm-6:nth-child(1) a {
  color: #333;
}

.contact .col-sm-6:nth-child(1) img {
  height: 80px;
  padding-right: 50px;
}

.contact .col-sm-6:nth-child(1) p {
  color: #000;
  font-size: 30px;
}

.contact .col-sm-6:nth-child(1) p a:first-child img {
  padding-right: 70px;
}

.contact .col-sm-6:nth-child(1) a {
  font-size: 52px;
  color: #000;
  font-family: 'Quicksand';
  font-weight: 700;
}

.contact .col-sm-6:nth-child(2) {
  right: 0px;
  position: absolute;
  bottom: 0px;
}

.contact .col-sm-6:nth-child(2) img {
  width: 90%;
  float: right;
}

.p-margin {
  padding: 30px 0px;
}

.organizers .col-sm-4 img {
  height: 200px;
  display: block;
  margin: auto;
}

.contact-bg {
  background: #f4f4f4;
  position: relative;
  z-index: 999;
  padding: 60px 0px 0px 0px;
}

.bg-border {
  z-index: 999;
  position: relative;
  height: 7px;
  background: linear-gradient(90deg, #14003F 0%, #00DEED 100%);
}

.judging {
  margin-top: 200px;
}

.judging ul {
  width: 900px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.judging ul li {
  width: calc(100% / 3);
  display: inline-block;
  margin-bottom: 50px;
}

.judging ul li img {
  height: 90px;
  display: block;
  margin: auto;
}

.judging ul li span {
  float: left;
}

.judging ul li .span-text {
  width: 150px;
  text-align: left;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.judging p {
  font-size: 35px;
  font-weight: bold;
  padding: 80px 0px 50px 0px;
}

.judging ul li .span-img {
  width: calc(100% - 150px);
}

.judging ul li a {
  color: #fff;
  width: 100%;
  /* display: block; */
  /* float: left; */
  /* position: relative; */
}

.judging ul li:nth-child(5) span,
.judging ul li:nth-child(4) span,
.judging ul li:nth-child(6) span {
  float: right
}

.judging ul li:nth-child(5) .span-text,
.judging ul li:nth-child(4) .span-text,
.judging ul li:nth-child(6) .span-text {
  text-align: right
}

#organizers {
  padding-top: 170px;
  margin-bottom: 200px;
}

@media screen and (max-width: 1300px) {
  .container-min,
  .container-max,
  .container-cus {
    width: 100%!important;
    padding: 0px 10px
  }
  .navbar-header img {
    height: 60px;
  }
  .navbar li a,
  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar-nav {
    padding: 4px 0px;
  }
  .timeline {
    margin-top: 50px;
  }
  .container-time {
    margin-top: 100px;
  }
  .datetime-bottom {
    padding-top: 100px;
  }
  /*body {
        background: linear-gradient(to bottom right, #FF452F, #FF452F, #F86D24, #F28C1C, #F09819, #F09819);
    }*/
  .bg_head {
    display: none;
  }
  .jumbotron {
    background: #f4f4f4;
  }
  .about-bottom p {
    top: 50px;
    position: relative;
    float: right;
  }
  .navbar-brand {
    height: auto;
  }
  .navbar {
    border-bottom: 1px solid #ddd;
  }
  #timeline,
  #contact {
    padding: 100px 0px;
  }
  .timeline .col-sm-4 {
    top: -100px;
  }
  .timeline .col-sm-4 img {
    display: inline-block;
    height: 200px;
    float: right;
  }
  #organizers {
    padding-bottom: 100px;
  }
  .contact .col-sm-8 {
    float: left;
    display: inline-block;
  }
  .contact .col-sm-8 img {
    height: 500px;
    width: 100%
  }
  .contact .col-sm-4 {
    padding-top: 0px;
    bottom: 0px;
    position: absolute;
    right: 0px;
  }
  .timeline .col-sm-4 {
    right: 0px;
  }
  .about-us .col-sm-9 {
    padding-right: 0px;
  }
  .contact .col-sm-6:nth-child(1) a {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .timeline .col-sm-4,
  .timeline .col-sm-8,
  .about-us .col-sm-3,
  .about-us .col-sm-9 {
    width: 100%;
    position: relative;
  }
  .about-us .col-sm-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline .col-sm-4 p,
  .container-time {
    margin-top: 40px;
  }
  .about-us {
    text-align: center;
    margin-top: 0px;
  }
  .about-us .col-sm-3 p {
    top: 0px;
  }
  .container-time,
  .container-organizers {
    width: 100%!important
  }
  .date-time .col-sm-3 {
    padding: 0px 10px;
  }
  .datetime-bottom div {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 50px;
  }
  .datetime-bottom div:last-child {
    margin-bottom: 0px;
  }
  .contact .col-sm-6:nth-child(1) p {
    text-align: center;
  }
  .timeline .col-sm-4 {
    top: 0px;
    margin-bottom: 40px;
  }
  .contact .col-sm-6:nth-child(1) img {
    height: 50px;
    padding-right: 30px;
  }
  .contact .col-sm-6:nth-child(1) img,
  .contact .col-sm-6:nth-child(1) p a:first-child img {
    padding-right: 30px;
  }
  .contact .col-sm-6 {
    width: 100%;
  }
  .contact .col-sm-6:last-child {
    position: static;
  }
  .contact .col-sm-6:nth-child(2) img {
    float: none;
    display: block;
    margin: auto;
  }
  #contact {
    padding-bottom: 0px;
  }
  .container-organizers {
    margin-top: 0px;
  }
  .timeline .col-sm-4 img {
    height: 300px;
    display: block;
    width: 100%;
  }
  .timeline .col-sm-4 {
    text-align: center;
    right: 0px;
  }
  .judging ul {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .navbar-header img {
    height: 55px;
  }
  .navbar li a,
  .navbar .navbar-brand {
    font-size: 15px;
  }
  .navbar-nav {
    padding: 2px 0px;
  }
  .jumbotron img {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 100%;
  }
  .navbar-default .navbar-toggle {
    width: 44px;
  }
  .navbar .navbar-brand {
    width: calc(100% - 65px);
  }
  .navbar .navbar-brand,
  .navbar-default .navbar-toggle {
    display: inline-block;
  }
  .container-fluid {
    padding: 20px 0px;
  }
  .about-us .col-sm-3 p,
  .timeline .col-sm-4 p,
  .container-time,
  .organizers h3 {
    font-size: 40px
  }
  .about-us h4,
  .timeline span,
  .datetime-bottom div p,
  .datetime-bottom div h4,
  .datetime-bottom div span,
  .contact .col-sm-6:nth-child(1) p {
    font-size: 15px;
  }
  .timeline .col-sm-4 img {
    width: 60%;
    float: none;
    margin: auto;
  }
  .organizers div,
  .contact .col-sm-4 p {
    margin-bottom: 20px;
  }
  .contact .col-sm-6:nth-child(1) a {
    font-size: 27px;
  }
  .about-bottom p {
    top: auto;
    bottom: auto;
  }
  .datetime-bottom,
  .contact .col-sm-4 {
    padding-top: 0px;
  }
  .about-bottom a,
  .date-time .col-sm-3 h4,
  .contact .col-sm-4 p,
  .date-time h3,
  .datetime-bottom div p,
  .btn-bottom .span-bottom {
    font-size: 20px;
    min-width: 244px;
  }
  .contact .col-sm-8 img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
  }
  .contact .col-sm-4 img {
    height: 40px;
    padding-right: 20px
  }
  .contact .col-sm-4 p {
    margin-bottom: 40px;
  }
  .organizers .col-sm-4 {
    width: calc((100% / 3) - 4px);
    display: inline-block;
  }
  .organizers .col-sm-4 img {
    width: 80%;
    height: auto;
  }
  .contact .col-sm-4 {
    float: none;
    text-align: center;
    margin-bottom: 100px;
  }
  .contact .col-sm-4,
  .contact .col-sm-8 {
    width: 100%;
  }
  /* .timeline .col-sm-8 p {
    text-align: justify;
  } */
  .contact .col-sm-4 {
    position: relative;
  }
  .date-time h3 {
    padding: 50px 0px;
  }
  .judging ul li {
    width: 100%;
  }
  .judging ul li:nth-child(5) span,
  .judging ul li:nth-child(4) span,
  .judging ul li:nth-child(6) span {
    float: left;
  }
  .judging ul li:nth-child(5) .span-text,
  .judging ul li:nth-child(4) .span-text,
  .judging ul li:nth-child(6) .span-text {
    text-align: left;
  }
  .judging ul {
    width: 340px
  }
  .judging ul li .span-img {
    width: auto
  }
  .judging ul li .span-text {
    width: 250px;
    padding-left: 30px;
    /* transform: none; */
    left: 100px;
  }
  .navbar-header {
    margin-left: 0px!important;
  }
  #about {
    margin-bottom: 180px;
  }
  #organizers {
    padding-bottom: 0px;
    padding-top: 80px;
    margin-bottom: 80px;
  }
  .container-organizers {
    padding-bottom: 0px;
  }
  #timeline {
    margin-bottom: 80px;
    padding-bottom: 0px;
  }
  .judging {
    margin-top: 150px;
  }
  #program {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
  .judging ul li {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 374px) {
  .judging ul li .span-text {
    width: auto;
    padding-left: 15px
  }
}

.apply-link {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
}
