body {
  color: #333;
  font-size: 14px;
  font-family: 'Quicksand';
  background: #f4f4f4;
  font-weight: 400;
}

a,
a:hover,
a:link,
a:active,
a:focus {
  text-decoration: none;
}

button {
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.container-cus,
[class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}


/* font */

.none-padding {
  padding-left: 0px;
  padding-right: 0px;
}


/* padding */

.padd-left-15 {
  padding: 0px 0px 0px 15px !important
}

.padd-right-15 {
  padding: 0px 15px 0px 0px !important
}

.padd-top-15 {
  padding-top: 15px;
}


/*end padding */


/* margin */

.mar-left-15 {
  margin-left: 15px;
}

.mar-top-15 {
  margin-top: 15px;
}

.mar-top-10 {
  margin-top: 10px;
}


/* end margin */


/* color */

.color-red {
  color: red;
}


/* end color */


/* btn */

.btn-red {
  background: red;
}


/* end color */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background:  linear-gradient(to bottom right, #FF452F,#FF452F,#F86D24,#F28C1C, #F09819,#F09819);*/
}

.container-cus {
  width: 90% !important;
}

.container-max {
  width: 85% !important;
}

.container-min {
  width: 1060px !important
}

.container-organizers {
  width: 911px;
}

.jumbotron img {
  width: 65%;
  margin: auto;
  display: block;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background: none;
  color: #fff;
  padding: 0px 25px;
  margin-top: 47px;
  margin-bottom: 0px;
  position: relative;
  z-index: 9;
}

.container-fluid {
  padding: 60px 0px;
}

.navbar {
  border: 0px;
  background-color: #f4f4f4;
  z-index: 9999;
}

.navbar-nav {
  padding: 12px 0px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #000000 !important;
  font-family: 'Quicksand';
  font-size: 22px;
  font-weight: 400;
}

.navbar-header img {
  height: 80px;
}

.navbar-brand {
  padding: 0px 15px;
  height: 80px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.bg_head img {
  width: 100%;
}

.bg_head {
  position: absolute;
  margin: 0px;
  width: 100%;
}

.about-us h4 {
  font-family: 'Quicksand';
  font-size: 23px;
  color: #fff;
  font-weight: 400;
}

.about-us {
  float: right;
  margin-top: 60px
}

.about-us .col-sm-3 {
  width: 250px;
}

.about-us .col-sm-9 {
  width: calc(100% - 250px);
  padding-left: 100px;
  max-width: 1046px;
  text-align: justify;
}

.about-us .col-sm-3 p {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  top: 100px;
}

.about-bottom p {
  width: 250px;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  right: 0px;
  position: absolute;
}

.about-bottom a {
  font-family: 'Quicksand';
  font-weight: 400;
  font-weight: 700;
  color: #333;
  font-size: 33px;
}

.timeline {
  position: relative;
}

.timeline span {
  font-size: 23px;
}

.timeline .span-bold {
  padding-right: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
}

.timeline .col-sm-8 p {
  margin-bottom: 40px;
}

.timeline .col-sm-4 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.timeline .col-sm-4 img {
  display: none;
}

.timeline .col-sm-4 p {
  margin-top: 25px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 72px;
  color: #000;
}

.timeline .indent-level-1 {
  margin-left: 90px;
}

.timeline .indent-level-2 {
  margin-left: 180px;
}

.container-time {
  width: 840px !important;
  margin-top: 160px;
}

.date-time .col-sm-3 {
  padding: 0px 30px;
}

.date-time .col-sm-3 p {
  background: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 73px;
  padding: 20px 0px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#pricing {
  padding: 30px 0px;
}

.date-time .col-sm-3 h4,
.date-time h3 {
  font-size: 23px;
  color: #fff;
}

.date-time h3 {
  margin: 30px 0px 60px 0;
  font-family: 'Open Sans';
  font-weight: 700;
}

.datetime-bottom {
  padding: 50px 0px
}

.datetime-bottom div p,
.datetime-bottom div h4,
.datetime-bottom div span {
  font-size: 18px;
  color: #fff;
}

.btn-bottom .span-bottom {
  background: #fff;
  padding: 10px 30px;
  font-size: 47px;
  color: #000;
  font-family: 'Quicksand';
  font-weight: 700;
  border-radius: 12px;
}

.datetime-bottom div p {
  font-size: 28px;
  font-family: 'Quicksand';
  font-weight: 700;
}

.organizers {
  text-align: center;
  padding-bottom: 60px;
}

.organizers div {
  text-align: center;
}

.organizers h3 {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  margin-bottom: 40px;
}



.contact .col-sm-4 {
  float: right;
  padding-top: 300px;
  width: 520px;
}

.contact .col-sm-4 a {
  color: #333;
}

.contact .col-sm-4 img {
  height: 80px;
  padding-right: 50px;
}

.contact .col-sm-4 p a:first-child img {
  padding-right: 70px;
}

.contact .col-sm-4 p {
  font-size: 52px;
  color: #000;
  font-family: 'Quicksand';
  font-weight: 700;
}

.contact .col-sm-8 {
  float: left;
  display: none;
}

.organizers .col-sm-4 img {
  height: 200px;
  display: block;
  margin: auto;
}

.container-cus .btn-bottom {
  margin-bottom: 60px;
}

@media screen and (max-width: 1920px) {
  .about-us {
    margin-top: 145px;
  }

  .timeline {
    margin-top: 300px;
  }

  .container-time {
    margin-top: 250px;
  }

  .datetime-bottom {
    padding: 100px 0px;
  }

  .organizers h3 {
    margin-bottom: 100px;
  }

  .organizers {
    margin-bottom: 70px;
  }

  #pricing {
    padding-bottom: 200px;
  }

  .about-us .col-sm-9 {

    max-width: 953px;

  }

  .timeline .col-sm-8 p {
    margin-bottom: 80px;
  }

  .timeline .col-sm-4 {

    right: 100px;
    bottom: 200px;
  }

  .contact .col-sm-4 {
    padding-top: 400px;
  }
}

@media screen and (max-width: 1850px) {

  .timeline {
    margin-top: 250px;
  }

  .contact .col-sm-4 {
    padding-top: 300px
  }
}

@media screen and (max-width: 1800px) {
  .container-time {
    margin-top: 370px;
  }

  #pricing {
    padding-bottom: 100px;
  }

  .timeline .col-sm-4 {
    bottom: 80px;
  }

  .timeline {
    margin-top: 150px;
  }

  .timeline .col-sm-4 {
    bottom: 100px;
  }
}

@media screen and (max-width: 1750px) {
  .timeline .col-sm-4 {
    bottom: 100px;
  }

  .container-time {
    margin-top: 270px;
  }

  .timeline {
    margin-top: 130px;
  }

  .timeline .col-sm-4 {
    bottom: 120px;
  }

  .contact .col-sm-4 {
    padding-top: 320px;
  }
}

@media screen and (max-width: 1720px) {

  .timeline {
    margin-top: 100px;
  }

  .container-time {
    margin-top: 270px;
  }

  #pricing {
    padding-bottom: 0px;
  }

  .timeline .col-sm-4 {
    bottom: 120px;
  }

  .contact .col-sm-4 {
    padding-top: 350px;
  }

}

@media screen and (max-width: 1650px) {
  .timeline {
    margin-top: 80px;
  }

  .container-time {
    margin-top: 200px;
  }
}

@media screen and (max-width: 1600px) {
  .about-us {
    margin-top: 70px;
  }

  .timeline {
    margin-top: 100px;
  }

  .container-time {
    margin-top: 210px;
  }


}

@media screen and (max-width: 1550px) {
  .container-time {
    margin-top: 170px;
  }

  .datetime-bottom {
    padding: 60px 0px;
  }

  .contact .col-sm-4 {
    padding-top: 250px;
  }

  .timeline {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1500px) {
  .timeline {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1450px) {
  .timeline {
    margin-top: 30px;
  }

  .container-time {
    margin-top: 130px;
  }

  .datetime-bottom {
    padding: 70px 0px 30px 0px;
  }

  .organizers h3 {
    margin-bottom: 50px;
  }

  .about-us .col-sm-9 {

    padding-right: 70px;
  }

  .about-bottom p {
    bottom: -45px;
  }

  .contact .col-sm-4 {
    padding-top: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .timeline {
    margin-top: 0px;
  }

  .contact .col-sm-4 {
    padding-top: 250px;
  }

  .container-time {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1350px) {
  .timeline {
    margin-top: 50px;
  }

  .timeline .indent-level-1 {
    margin-left: 60px;
  }

  .timeline .indent-level-2 {
    margin-left: 120px;
  }

  .container-time {
    margin-top: 170px;
  }

  .datetime-bottom {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1350px) {
  .about-us {
    margin-top: 30px;
  }

  .datetime-bottom,
  #Organizers {
    padding-top: 30px;
  }

  .organizers h3 {
    margin-bottom: 50px;
  }

  #Organizers {
    padding-bottom: 0px;
  }

  .container-time {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1300px) {

  .container-min,
  .container-max,
  .container-cus {
    width: 100% !important;
    padding: 0px 10px
  }

  .navbar-header img {
    height: 60px;
  }

  .navbar li a,
  .navbar .navbar-brand {
    font-size: 18px;
  }

  .navbar-nav {
    padding: 4px 0px;
  }

  .timeline {
    margin-top: 50px;
  }

  .container-time {
    margin-top: 100px;
  }

  .datetime-bottom {
    padding-top: 100px;
  }

  body {
    background: linear-gradient(to bottom right, #FF452F, #FF452F, #F86D24, #F28C1C, #F09819, #F09819);
  }

  .bg_head {
    display: none;
  }

  .jumbotron {
    background: #f4f4f4;
  }

  .about-bottom p {
    top: 50px;
    position: relative;
    float: right;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar {
    border-bottom: 1px solid #ddd;
  }

  #timeline,
  #contact {
    background: #f4f4f4;
    padding: 100px 0px;
  }

  .timeline .col-sm-4 {
    top: -100px;
  }

  .timeline .col-sm-4 img {
    display: inline-block;
    height: 200px;
    float: right;
  }

  #Organizers {
    padding-bottom: 100px;
  }

  .contact .col-sm-8 {
    float: left;
    display: inline-block;
  }

  .contact .col-sm-8 img {
    height: 500px;
    width: 100%
  }

  .contact .col-sm-4 {
    padding-top: 0px;
    bottom: 0px;
    position: absolute;
    right: 0px;
  }

  .timeline .col-sm-4 {
    right: 0px;

  }

  .about-us .col-sm-9 {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1024px) {

  .timeline .col-sm-4,
  .timeline .col-sm-8,
  .about-us .col-sm-3,
  .about-us .col-sm-9 {
    width: 100%;
    position: relative;
  }

  .about-us .col-sm-9 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .timeline .col-sm-4 p,
  .container-time {
    margin-top: 40px;
  }

  .about-us {
    text-align: center;
    margin-top: 0px;
  }

  .about-us .col-sm-3 p {
    top: 0px;
  }

  .container-time,
  .container-organizers {
    width: 100% !important
  }

  .date-time .col-sm-3 {
    padding: 0px 10px;
  }

  .datetime-bottom div {
    width: 100%;
  }

  .timeline .col-sm-4 {
    top: 0px;
    margin-bottom: 40px;
  }

  .contact .col-sm-4 img {
    height: 50px;
    padding-right: 30px;
  }

  .contact .col-sm-4 img,
  .contact .col-sm-4 p a:first-child img {
    padding-right: 30px;
  }

  .contact .col-sm-4 {
    width: 400px;
  }

  .timeline .col-sm-4 img {
    height: 300px;
    display: block;
    width: 100%;
  }

  .timeline .col-sm-4 {
    text-align: center;

    right: 0px;
  }
}


@media screen and (max-width: 880px) {
  .navbar-header img {
    height: 55px;
  }

  .navbar li a,
  .navbar .navbar-brand {
    font-size: 15px;
  }

  .navbar-nav {
    padding: 2px 0px;
  }

  .jumbotron img {
    width: 95%;
  }

  .timeline .indent-level-1 {
    margin-left: 30px;
  }

  .timeline .indent-level-2 {
    margin-left: 60px;
  }

}

@media screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 100%;
  }

  .navbar-default .navbar-toggle {
    width: 44px;
  }

  .navbar .navbar-brand {
    width: calc(100% - 65px);
  }

  .navbar .navbar-brand,
  .navbar-default .navbar-toggle {
    display: inline-block;
  }

  .container-fluid {
    padding: 20px 0px;
  }

  .about-us .col-sm-3 p,
  .timeline .col-sm-4 p,
  .container-time,
  .organizers h3 {
    font-size: 40px
  }

  .about-us h4,
  .timeline span,
  .datetime-bottom div p,
  .datetime-bottom div h4,
  .datetime-bottom div span {
    font-size: 15px;
  }

  .timeline .col-sm-4 img {
    width: 60%;

    float: none;
    margin: auto;
  }

  .organizers div,
  .contact .col-sm-4 p {
    margin-bottom: 20px;
  }

  .about-bottom p {
    top: auto;
    bottom: auto;
  }

  .datetime-bottom,
  .contact .col-sm-4 {
    padding-top: 0px;
  }

  .about-bottom a,
  .date-time .col-sm-3 h4,
  .contact .col-sm-4 p,
  .date-time h3,
  .datetime-bottom div p,
  .btn-bottom .span-bottom {
    font-size: 20px;
  }

  .contact .col-sm-8 img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
  }

  .contact .col-sm-4 img {
    height: 40px;
    padding-right: 20px
  }

  .contact .col-sm-4 p {
    margin-bottom: 40px;
  }

  .organizers .col-sm-4 {
    width: calc((100% / 3) - 4px);
    display: inline-block;
  }

  .organizers .col-sm-4 img {
    width: 80%;
    height: auto;
  }

  .contact .col-sm-4 {
    float: none;
    text-align: center;
    margin-bottom: 100px;
  }

  .contact .col-sm-4,
  .contact .col-sm-8 {
    width: 100%;
  }

  .timeline .col-sm-8 p {
    text-align: justify;
  }

  .contact .col-sm-4 {
    position: relative;

  }

  .date-time h3 {
    padding: 50px 0px;
  }

}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}