<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vietnamese Professional in Japan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="col-sm-12 bg_head">
    <img src="<%= require('img/bg_page.png') %>">
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container container-cus">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#myPage"><img src="img/logo.svg"></a> -->
        <div class="menu-logo">
          <a href="http://vanj.jp/"><img src="<%= require('img/1.svg') %>"/></a>
          <a href="http://vingroup.net/"><img src="<%= require('img/2.svg') %>"/></a>
          <a href="https://vietpro.jp/"><img src="<%= require('img/3.svg') %>"/></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">About Us</a></li>
          <li><a href="#program">Program Info</a></li>
          <li><a href="#timeline">Timeline</a></li>
          <li><a href="#organizers">Organizers</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <img src="<%= require('img/banner.png') %>">
  </div>

  <!-- contact -->
  <div id="about" class="container-fluid">

    <div class="container-fluid ">

      <div class="container container-cus">

        <div class="col-xs-12 about-us">
          <div class="col-sm-3 col-xs-12">
            <p>About Us</p>
          </div>
          <div class="col-sm-9 col-xs-12">
            <h4>Take your chance to participate in Viet Startup Contest (VSC) 2019! </h4>
            <h4>The program welcomes all innovative ideas to solve critical problems of Vietnam and to build a sustainable future for the country. VSC 2019 is organized by VANJ (Vietnamese Academic Network in Japan), VPJ (Vietnamese Professionals in Japan) and Vingroup Japan – a Japanese subsidiary of Vingroup in Vietnam.</h4>
            <h4>Participate VSC 2019 to get a chance to win the ﬁrst prize of 1,000,000 JPY! Furthermore, attendants will receive guidance and advice from experienced advisors and judges to develop and expand their ideas!</h4>
          </div>

        </div>

      </div>
      <div class="col-xs-12 about-bottom">
        <a href="#program" id="apply-now">APPLY NOW!</a>
      </div>
    </div>
  </div>

  <!-- Program -->
  <div id="program" class="container-fluid text-center">
    <div class="container container-cus">
      <div class="col-xs-12 slideanim">
        <div class="col-sm-12  datetime-bottom">
          <div class="col-sm-3">
            <p> PROGRAM DETAILS</p>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <h4>Please download the program details here</h4>
            <p class="download-img"><a target="_blank" href="https://tinyurl.com/y6jotk8f"><img src="<%= require('img/dowload.svg') %>"/></a>
            </p>
          </div>
          <div class="col-sm-5">
            <p>PARTICIPANTS QUALIFICATIONS</p>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <h4>VSC welcomes all business ideas coming from individuals and groups of all ages and nationalities, residing inside or outside Japan. However, we encourage ideas contributing to the development of Vietnam, and it will be one of the important judging criteria.</br></br>
              Applicants outside of Japan can participate in the Monthly hearing online. However, if selected for the Final Contest, they must come to Japan to attend the event. VSC organizer does not cover travel expenses to Japan.
            </h4>
          </div>
          <div class="col-sm-4">
            <p>APPLICATION METHOD</p>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <h4>Application period: July 1, 2019 to September 30, 2019 by online application.
              Apply early to earn a chance to a closed dinner with our special advisors - famous investors!</br></br>
              Please download the application form from the following link:
              http://tiny.cc/rz508y</br></br>
              Upon filling the application form, please upload your file via the following link:
              https://forms.gle/YuVqmf8duux3yQSD8
            </h4>
          </div>
        </div>
        <div class="col-xs-12 btn-bottom">
          <div><span class="span-bottom">¥1,000,000 1st Priz</span></div>
          <div><span class="span-bottom">2nd Prize ¥500,000</span></div>
          <div><span class="span-bottom">3rd Prize ¥300,000</span></div>
        </div>
        <div class="col-xs-12 judging">
          <p>Judging Criteria</p>
          <ul class="col-xs-12 ">
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg.png') %>"/></span>
              <a href="#">
              <span class="span-text"> Contribution to solve critical  problems of Vietnam</span>
              </a>
            </li>
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg2.png') %>"/></span>
              <a href="#">
              <span class="span-text">Sustainability</span>
              </a>
            </li>
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg3.png') %>"/></span>
              <a href="#">
              <span class="span-text"> Originality</span>
              </a>
            </li>
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg4.png') %>"/></span>
              <a href="#">
              <span class="span-text">Feasibility</span>
              </a>
            </li>
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg5.png') %>"/></span>
              <a href="#">
              <span class="span-text"> Competitiveness</span>
              </a>
            </li>
            <li class="col-xs-12">
              <span class="span-img"><img src="<%= require('img/lg6.png') %>"/></span>
              <a href="#">
              <span class="span-text">Scalability</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 bg_head bg-bottom"><img src="<%= require('img/bg.png') %>"/></div>

  <!-- timeline -->
  <div id="timeline" class="container-fluid text-center">
    <div class="container container-cus ">
      <div class="col-xs-12 timeline">
        <div class="col-xs-12 slideanim ">
          <div class="col-sm-4">
            <p>Timeline</p>
          </div>
          <div class="col-sm-8">
            <div class="timeline-wrapper">
              <div class="timeline-container timeline-container-left">
                <div class="timeline-content">
                  <p>From 1st July 2019 to 30th September 2019</p>
                  <p>Application and Screening</p>
                </div>
              </div>

              <div class="timeline-container timeline-container-right">
                <div class="timeline-content">
                  <p>August, September, October 2019</p>
                  <p>Hearing and Advising</p>
                </div>
              </div>

              <div class="timeline-container timeline-container-left">
                <div class="timeline-content">
                  <p>8th December 2019 (Tentative)</p>
                  <p>Final contest</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container container-time">
      <div class="col-xs-12 date-time">
        <div class="col-xs-12 slideanim ">
          <div class="col-sm-3">
            <p>05</p>
            <h4>DAYS</h4>
          </div>
          <div class="col-sm-3">
            <p>05</p>
            <h4>HOURS</h4>
          </div>
          <div class="col-sm-3">
            <p>05</p>
            <h4>MINS</h4>
          </div>
          <div class="col-sm-3">
            <p>05</p>
            <h4>SECS</h4>
          </div>
          <div class="col-sm-12">
            <h3>UNTIL APPLICATION AND SCREENING CLOSES</h3>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Organizers -->
  <div id="organizers" class="container-fluid">
    <div class="container container-organizers">
      <div class="col-xs-12 slideanim organizers">
        <div class="col-sm-12">
          <h3>Organizers</h3>
        </div>
        <div class="col-sm-4">
          <a href="http://vanj.jp/"><img src="<%= require('img/1.svg') %>"></a>
        </div>
        <div class="col-sm-4">
          <a href="http://vingroup.net/"><img src="<%= require('img/2.svg') %>"></a>
        </div>
        <div class="col-sm-4">
          <a href="https://vietpro.jp/"><img src="<%= require('img/3.svg') %>"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- contact -->
  <div id="contact" class="container-fluid ">
    <div class="col-xs-12  bg-border"></div>
    <div class="col-xs-12 contact-bg">
      <div class="container container-cus">
        <div class="col-xs-12 ">
          <div class="col-sm-12 contact">
            <div class="col-sm-6">
              <p>For more information, visit us at our Facebook fan page: Viet Startup Contest in Japan. If you have any further inquiries, feel free to drop us an email at vscontest2019@gmail.com
              </p>
              <p ><label>Email address</label>: vscontest2019@gmail.com</p>
              <p class="p-margin"><a href="https://www.facebook.com/Viet-Startup-Contest-in-Japan-690568071372405/"><img src="<%= require('img/fb.svg') %>"></a><a href="mailto:vscontest2019@gmail.com"><img src="<%= require('img/email.svg') %>">Contact</a></p>
            </div>
            <div class="col-sm-6">
              <img src="<%= require('img/img2.svg') %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
